[Unit]
Description=Telegram ChatGpt Bot

[Service]
User=ec2-user
ExecStart=dotnet home/ec2-user/bot/Publish/TelegramGptBot.dll
Restart=always
RestartSec=10
SyslogIdentifier=TelegramGptBot



[Install]
WantedBy=multi-user.target